
{% extends "home/messge/base.html" %}


{% block main %}
 <div class="centercontent">

        <div class="pageheader">
            <h1 class="pagetitle">密码管理</h1>
            <span class="pagedesc">温馨提示：密码至少包含数字、字母、符号</span>

            <ul class="hornav">
                <li class="current"><a href="#basicform">我的密码</a></li>
                <!--<li><a href="#validation">Validation</a></li>-->
            </ul>
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
        	<div id="basicform" class="subcontent">
                    <div class="contenttitle2">
                        <h3>修改密码</h3>
                    </div><!--contenttitle-->
                    <form class="stdform" action="{% url 'home_pwd' %}" method="post">
                      {% csrf_token %}
                        <p>
                        	<label>旧密码</label>
                            <span class="field"><input type="password" name="password" placeholder="请输入原始密码" id="lastname" class="longinput" /></span>
                        </p>

                        <p>
                        	<label>新密码</label>
                            <span class="field"><input type="password" name="newpassword" placeholder="请输入新密码" id="email" class="longinput" /></span>
                        </p>

                         <p>
                        	<label>确认密码</label>
                            <span class="field"><input type="password" name="repassword" placeholder="再次输入" id="email" class="longinput" /></span>
                        </p>
                        <p class="stdformbutton" style="text-align: center;">
                        	<button class="submit radius2">确认提交</button>
                        </p>
                    </form>
            </div><!--subcontent-->
        </div><!--contentwrapper-->
	</div><!-- centercontent -->
{% endblock %}
