{% extends "myadmin/base.html" %}

{% block name %}
    宿舍列表
{% endblock %}

{% block main %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="card-box">
                <!-- Row start -->
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                {% if "/myadmin/dormitory/add/" in request.session.permission %}
                                <a href="{% url "myadmin_dormitory_add" %}" type="button" class="am-btn am-btn-default"><span
                                        class="am-icon-plus"></span>
                                    新增
                                </a>
            {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" name="sou" class="am-form-field">
                            <span class="am-input-group-btn">
				            <button class="am-btn am-btn-default sou" type="button">搜索</button>
				          </span>
                        </div>
                    </div>
                </div>
                <script>
                    $(".sou").click(function () {
                        if ($("[name='sou']").val()) {
                            location.href = "/myadmin/dormitory/?sou=" + $("[name='sou']").val()
                        } else {
                            location.href = "/myadmin/dormitory/"
                        }
                    })
                </script>
                <!-- Row end -->

                <!-- Row start -->
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th class="table-id">宿舍号</th>
                                    <th class="table-title">宿舍容纳人数</th>
                                    <th class="table-author am-hide-sm-only">楼栋</th>
                                    <th class="table-date am-hide-sm-only">创建时间</th>
                                    <th class="table-set">操作</th>
                                </tr>
                                </thead>


                                {% for foo in dormitory_all %}

                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td width="100px">{{ foo.number }}号房</td>
                                        <td>{{ foo.num }}</td>
                                        <td class="am-hide-sm-only">{{ foo.storied.number }}号楼</td>
                                        <td class="am-hide-sm-only">{{ foo.addtime|date:"Y-m-d" }}</td>
                                        <td>
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    {% if "/myadmin/dormitory/update/" in request.session.permission %}
                                                        <a href="{% url "myadmin_dormitory_update" foo.pk %}"
                                                           class="am-btn am-btn-default am-btn-xs am-text-secondary"><span
                                                                class="am-icon-pencil-square-o"></span> 编辑
                                                        </a>
                                                    {% endif %}
                                                    {% if "/myadmin/dormitory/del/" in request.session.permission %}
                                                        <a href="javascript:void(0);;" pk="{{ foo.pk }}"
                                                           class="del am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only">
                                                            <span class="am-icon-trash-o"></span> 删除
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </table>
                            <div class="am-cf">
                                <span style="margin-left: 10px">共 {{ dormitory_all.paginator.count }} 条记录</span>
                                <div class="am-fr">
                                    <ul class="am-pagination">
                                        {% load functions %}
                                        {% pageShow dormitory_all.paginator.num_pages request %}
                                    </ul>
                                </div>
                            </div>
                            <hr/>
                        </form>
                    </div>
                    <script>
                        $(".del").click(function () {
                            var pk = $(this).attr("pk")
                            var el = $(this)
                            $.ajax({
                                url: "{% url "myadmin_dormitory_del" %}",
                                data: {
                                    pk: pk
                                },
                                success: function (data) {
                                    if (data.error){
                                        alert("宿舍还有人不能删除！")
                                    }else {
                                        alert("删除成功")
                                        el.parents("tr").remove()
                                    }
                                }
                            })
                        })
                    </script>
                </div>
                <!-- Row end -->

            </div>


        </div>


    </div>
{% endblock %}