{% extends "myadmin/base.html" %}


{% block main %}
<div class="row-content am-cf">


    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">个人中心</div>
                    <div class="widget-function am-fr">
                        <a href="javascript:;" class="am-icon-cog"></a>
                    </div>
                </div>
                <div class="widget-body am-fr">

                    <form disabled="" onclick="return false" class="am-form tpl-form-line-form" method="post" enctype="multipart/form-data">
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">医生姓名</label>
                            <div class="am-u-sm-9">
                                <input type="text" disabled value="{{ obj.name }}" name="name" class="tpl-form-input" required id="user-name" placeholder="医生姓名">

                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">手机号</label>
                            <div class="am-u-sm-9">
                                <input type="text" disabled value="{{ obj.phone }}" name="phone" class="tpl-form-input" required id="user-phone" placeholder="手机号">

                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-password" class="am-u-sm-3 am-form-label">登录密码</label>
                            <div class="am-u-sm-9">
                                <input type="password" disabled value="{{ obj.password }}" name="password" class="tpl-form-input" required id="user-password" placeholder="请输入密码">

                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-zhi" class="am-u-sm-3 am-form-label">医生职称</label>
                            <div class="am-u-sm-9">
                                <input type="text" disabled value="{{ obj.engineer }}" class="tpl-form-input" name="engineer" required id="user-zhi" placeholder="医生职称">

                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-post" class="am-u-sm-3 am-form-label">医生职务</label>
                            <div class="am-u-sm-9">
                                <input type="text" disabled class="tpl-form-input" value="{{ obj.post }}" name="post" required id="user-post" placeholder="医生职务">

                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-age" class="am-u-sm-3 am-form-label">年龄</label>
                            <div class="am-u-sm-9">
                                <input type="number" disabled name="age" value="{{ obj.age }}" class="tpl-form-input" required id="user-age" placeholder="年龄">

                            </div>
                        </div>
                        <div class="am-form-group">
                            <label  class="am-u-sm-3 am-form-label">性别</label>
                            <div class="am-u-sm-9">
                                <input type="radio" disabled {% if obj.sex == "1" %}checked{% endif %} class="tpl-form-input" name="sex" value="1"  required style="margin-right: 5px">男&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" disabled {% if obj.sex == "0" %}checked{% endif %} class="tpl-form-input" name="sex" value="0" required style="margin-right: 5px">女

                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">就诊时间</label>
                            <div class="am-u-sm-9">
                                <input type="number" disabled name="out_time" value="{{ obj.out_time }}" class="tpl-form-input" required id="user-name" placeholder="就诊时间（星期制）">

                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">详情介绍</label>
                            <div class="am-u-sm-9">
                                <textarea style="height: 100px;" disabled name="info" placeholder="医生介绍">{{ obj.info }}</textarea>

                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">科室 </label>
                            <div class="am-u-sm-9">
                                <select disabled data-am-selected="{searchBox: 1}" required name="office" style="display: none;">
                                 <option value="">--请选择--</option>
                                    {% for foo in ofiiAll %}
                                        {% if obj.office.pk == foo.pk %}
                                            <option selected value="{{ foo.pk }}">{{ foo.name }}</option>
                                        {% else %}
                                            <option value="{{ foo.pk }}">{{ foo.name }}</option>
                                        {% endif %}

                                    {% endfor %}


                                </select>

                            </div>
                        </div>

    {% csrf_token %}

                        <div class="am-form-group" style="text">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">医生头像 </label>
                            <div class="am-u-sm-9">
                                <div class="am-form-group am-form-file">
                                    <div class="tpl-form-file-img">
                                        <img class="img" width="200" src="/media/{{ obj.avatar }}" alt="">
                                    </div>
{#                                    <button   class="am-btn am-btn-danger am-btn-sm">#}
{#                                        <i class="am-icon-cloud-upload"></i> 添加医生头像#}
{#                                    </button>#}
                                    <input disabled id="doc-form-file"  name="avatar" type="file" multiple="">
                                </div>

                            </div>
                        </div>

                        <script>
                            $("input[type='file']").change(function(){
                                 var file = this.files[0];
                                   if (window.FileReader) {
                                            var reader = new FileReader();
                                            reader.readAsDataURL(file);
                                            //监听文件读取结束后事件
                                          reader.onloadend = function (e) {
                                            $(".img").attr("src",e.target.result);    //e.target.result就是最后的路径地址
                                            };
                                       }
                                });
                        </script>

{#                        <div class="am-form-group">#}
{#                            <div class="am-u-sm-9 am-u-sm-push-3">#}
{#                                <input value="提交" type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">#}
{##}
{##}
{#                            </div>#}
{#                        </div>#}
                    </form>
                </div>
            </div>
        </div>
    </div>



        </div>
{% endblock %}