{% extends "myadmin/base.html" %}

{% block name %}
权限列表
{% endblock %}

{% block main %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="card-box">
                <!-- Row start -->
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                {% if "/myadmin/url/add/" in request.session.permission %}
                                <a href="{% url "myadmin_url_add" %}" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span>
                                    新增
                                </a>
        {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input value="{{ request.GET.sou }}" type="text" name="sou" class=" am-form-field">
                            <span class="am-input-group-btn">
				            <button class="am-btn am-btn-default sou" type="button">搜索</button>
				          </span>
                        </div>
                    </div>
                </div>
                <!-- Row end -->
                <script>
                    $(".sou").click(function () {
                        if($("[name='sou']").val()){
                            location.href="/myadmin/url/list/?sou="+$("[name='sou']").val()
                        }else{
                            location.href="/myadmin/url/list/"
                        }
                    })
                </script>
                <!-- Row start -->
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-id">ID</th>
                                    <th class="table-title">说明</th>
                                    <th class="table-type">URL规则</th>
                                    <th class="table-set">操作</th>
                                </tr>
                                </thead>


                        {% for permission in permissions %}
                                <tr>




                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="#">{{ permission.name }}</a></td>
                                    <td>{{ permission.url }}</td>

                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                 {% if "/myadmin/url/update/" in request.session.permission %}
                                                <a href="{% url "myadmin_url_update" permission.pk %}" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span
                                                        class="am-icon-pencil-square-o"></span> 编辑
                                                </a>
                                                {% endif %}
                                             {% if "/myadmin/url/del/" in request.session.permission %}
                                                <a href="javascript:void(0)" pk="{{ permission.pk }}" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only del">
                                                    <span class="am-icon-trash-o"></span> 删除
                                                </a>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                        {% endfor %}
                                <script>
                                    $(".del").click(function () {
                                        var pid = $(this).attr("pk")
                                        var el = $(this)
                                        $.ajax({
                                            url:"{% url "myadmin_url_del" %}",
                                            data:{
                                                pid: pid
                                            },
                                            dataType:"json",
                                            success:function (data) {
                                                alert(data.msg)
                                                el.parents("tr").remove()
                                            }
                                        })
                                    })
                                </script>

                            </table>
                            <div class="am-cf">
                                <span style="margin-left: 10px">共 {{ permissions.paginator.count }} 条记录</span>
                                <div class="am-fr">
                                    <ul class="am-pagination">
                                        {% load functions %}
                                        {% pageShow permissions.paginator.num_pages request %}
                                    </ul>
                                </div>
                            </div>
                            <hr/>
                        </form>
                    </div>

                </div>
                <!-- Row end -->

            </div>


        </div>


    </div>
{% endblock %}